
html {
  display: block;
}

body {
    color: #ffffff;
    background-color: #111;
    margin: auto;
    margin-top: 10px;
    width: 89%;
    max-width: 800px;
    font-size: 18px;
    font-family: LiberationSerif;
}

header, footer, p{ 
    text-align: center;
}


.nav a{
    text-align: center;
    padding-right: .75em;
    color: turquoise;
}
.nav a:hover{
  color:white;
}
a { 
  color: turquoise;
}
h1 { 
  margin:0;
  text-align: center;
}

div {
    display: block;
}

  footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

#quote {
  font-style: italic;
  max-width: 500px;
}

.social-icons {
    padding: 12px 0;
    text-align: center;
}

.social-icons a:not(:last-of-type) {
    margin-inline-end: 12px;
}

.social-icons a svg {
    height: 26px;
    width: 26px;
}
.social-icons a:hover{
  color: white;
}

.blockquote {
  position: relative;
  max-width: 750px;
  margin: 10px 30px;
  border: 1px solid turquoise;
  box-sizing: border-box;
  padding: 25px;
}
.blockquote--bordered {
  border-left-width: 20px;
}
.blockquote--quoted::before{
  content: "\201c";
  font-size: 100px;
  color:turquoise;
  display: block;
  margin-bottom: -40px;
  margin-top: -20px;
}

.blockquote__text{ 
 text-align: left;
 font-size: 1.3em;
 font-style: italic;
 margin: 0;
 line-height: 1.5;
}
.blockquote__text-credit{
  text-align: right;
}